.Chat-side
  .Left-header
    .Left-header__list
      .Left-header__User-name
        = current_user.name
      %ul.Left-header__Iconlist
        %li.Left-header__Icon
          = link_to '#', class:"Pencil" do
            = icon('fas', 'edit')
        %li.Left-header__Icon
          = link_to edit_user_path(current_user), class:"Gear" do
            = icon('fas', 'cog')
  .Groups
    .group
      .group__group-Name
        techcamp
      .group__group-Message
        まだメッセージがありません